body {
	font-size: small;
	font:family: arial, sans-serif;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

/* Start list from right */
li {
	float: right;
	display: block;
	padding: 0 0 0 18px;
}

#topbar ul li: first-child{
	margin-top: -10px;
}

#topbar {
	margin: 25px 40px 0 0;
	height: 100px;
}

#bluemanimage {
	border-radius: 100%;
}


#searchbar {
	margin: auto;
	padding-top: 15px;
	text-align: center;
}

input {
	height: 30px;
	width: 40em;
}

#logoimage {
	margin: auto;
}